fastapi==0.115.6
langchain==0.3.12
langchain-community==0.3.12
langchain-core==0.3.25
langchain-openai==0.2.12
langchain-text-splitters==0.3.3
markdown2==2.5.2
openai==1.57.4
python-dotenv==1.0.1
uvicorn==0.34.0
