fastapi==0.115.6
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
markdown2==2.5.2
openai==1.57.4
python-dotenv==1.0.1
uvicorn==0.34.0
python-multipart                                   